<div class="row vertical-align">
	<h1 class="slide_title">Bionic Vision Simulator</h1>
</div>
<br / ><br />
<div class="row vertical-align">
	<div>
		<p class="readable_text">I completed this as my final year project during which I was a member of a five-person team developing a bionic vision simulator using Unity and the Oculus Rift for Bionic Vision Australia. Our aim for this project was to create a highly modular virtual reality environment, which can simulate the phosphenes produced by a prosthetic implant, so researches can determine the best algorithm to produce these phosphenes. <br /><br />
		Throughout the project I attended weekly stand-up meetings as well as weekly meetings with our client, in which we explained our progress and adjusted our scope accordingly. I worked according to my backlog, eventually completing several tasks that were not initially assigned to me. These tasks required an elevated level of communication and teamwork as they were often implemented within a script or a scene created by another member. <br /><br />
		We were successful in our project and I achieved a high distinction.</p>
	</div>
</div>
<br /><br />
<div class="row vertical-align">
	<iframe class = "center-block" id="ytplayer" type="text/html" width="512" height="288" src="https://www.youtube.com/embed/RSJ4y_w6BVo?autoplay=1&origin=https://www.youtube.com/watch?v=RSJ4y_w6BVo" frameborder="0"></iframe>
</div>
<div class="row vertical-align">
<%= link_to "Lightbox View", "https://www.youtube.com/watch?v=RSJ4y_w6BVo", class: "lightbox_image center-block", target: :_blank %>
</div>