<div class="row vertical-align">
	<h1 class="slide_title">Education</h1>
</div>
<br / ><br />
<div class="row vertical-align">
	<p class="readable_text">
		Bachelor of Computer Science at Swinburne University of Technology (2018)<br />
		Secondary education at St Bernard's College Essendon (2014)<br />
	</p>
</div>
