<div class="row vertical-align">
	<h1 class="dark_title">Home Energy Trading System</h1>
</div>
<br / ><br />
<div class="row vertical-align">
	<p class="dark_text">
		I was a part of a two-person team developing a multi-intelligent agent system. Intelligent Agents are autonomous, social, reactive, and proactive. Therefore, they are commonly considered to be artificially intelligent. <br /> 
		I developed the entire backend of the system in which a ‘Home’ Agent will dynamically calculate energy needs of ‘Appliance’ agents hourly. It then contacts three energy ‘Supplier’ agents for a quote, and negotiates with each based on the home’s budget, eventually selecting the lowest available price. <br />
		The complexity of this project derives from the fact that is entirely Agent Oriented. This was developed in Java using the JADE AgentDevelopment Framework. <br />
				
		My teammate and I met weekly, discussing our progress and overall vision for the program.<br />
			
		Ultimately, the project was a success and I achieved a distinction.
	</p>
</div>
<br /><br />
<div class="row vertical-align">
	<%= link_to image_tag("home/energy_thumb", width: "300", alt: "energy", class: "project_image"), "https://www.youtube.com/watch?v=A1qC8rh03IE", class: "lightbox_image center-block", target: :_blank %>
</div>