<h3> Home Energy Trading System </h3>
<p>
	I was a part of a two-person team developing a multi-intelligent agentsystem. 
	Intelligent Agents are autonomous, social, reactive, and proactive. Therefore, 
	they arecommonly considered to be artificially intelligent. I developed the entire 
	backend of the system inwhich a ‘Home’ Agent will dynamically calculate energy 
	needs of ‘Appliance’ agents hourly. It thencontacts three energy ‘Supplier’ 
	agents for a quote, and negotiates with each based on thehome’s budget, eventually
	selecting the lowest available price. The complexity of this projectderives 
	from the fact that is entirely Agent Oriented. This was developed in Java 
	using the JADE AgentDevelopment Framework. <br />
		
	My teammate and I met weekly, discussing our progress and overall visionfor the program.<br />
	
	Ultimately, the project was a success and I achieved a distinction.
</p>