<div class="row">
	<div class="col-lg-12">
		<h3 class="slide_title"> Home Energy Trading System </h3>
	</div>
</div>
<br /><br />
<div class="row">
	<div class="col-lg-12">
		<p class="readable_text">
			I was a part of a two-person team developing a multi-intelligent agent system. Intelligent Agents are autonomous, social, reactive, and proactive. Therefore, they are commonly considered to be artificially intelligent. <br /> 
			I developed the entire backend of the system in which a ‘Home’ Agent will dynamically calculate energy needs of ‘Appliance’ agents hourly. It then contacts three energy ‘Supplier’ agents for a quote, and negotiates with each based on the home’s budget, eventually selecting the lowest available price. <br />
			The complexity of this project derives from the fact that is entirely Agent Oriented. This was developed in Java using the JADE AgentDevelopment Framework. <br />
				
			My teammate and I met weekly, discussing our progress and overall vision for the program.<br />
			
			Ultimately, the project was a success and I achieved a distinction.
		</p>
	</div>
</div>