<div class="row vertical-align">
	<h1 class="slide_title">Professional Experience</h1>
</div>
<br / ><br />
<div class="row vertical-align">
	<p class="readable_text">
		<span class="readable_title_point">
			<b>Software Engineer at ANZ bank, contractor working through HCL Technologies (08/19 - current):</b> <br /><br />
		</span>
		Within ANZ I work as a developer in a squad following the SCRUM methodology. We own the micro services which begin and end the group payments platform. <br /><br />
		These micro services are mainly Java SpringBoot applications using Camel and many different libraries. Throughout my time here I’ve done everything from maintaining these services to creating completely new workflows and micro services, investigating and solving uncommon and hard to replicate bugs as well as representing our squad while supporting production deployments. I’ve also worked with a wide variety of people with differing skillsets and have learned a ton from them. 

	</p>
</div>
