<div class="slide">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3> Bionic Vision Simulator </h3>
				<p>
					I completed this as my final year project in which I was a member of a five-person team developing a bionic vision simulator using Unity and the Oculus Rift for Bionic Vision Australia. Our aim for this project was to create a highly modular virtual reality environment, which can simulate the phosphenes produced by a prosthetic implant, so researches can determine the best algorithm to produce these phosphenes. <br />

					Throughout the project I attended weekly stand-up meetings as well as weekly meetings with our client, in which we explained our progress and adjusted our scope accordingly. I worked according to my backlog, eventually completing several tasks that were not initially assigned to me. These tasks required an elevated level of communication and teamwork as they were often implemented within a script or a scene created by another member. <br />

					We were successful in our project and I achieved a high distinction. 
				</p>
			</div>
		</div>
	</div>
</div>