<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="slide_title">Technical Skills</h1>
		</div>
	</div>
	<br /><br /><br />
	<div class="row readable_text">
		<div class="col-lg-6">
			<ul>
				<li><h3> Programming Languages </h3></li>
				<ul>
					<li> <b>Software: </b> Java, C++, C#, Python </li>
					<li> <b>Web: </b> HTML, CSS, JavaScript, PHP </li>
					<li> <b>DB: </b> Oracle SQL, MySQL </li>
				</ul>
				<br />
				<li><h3> Programming Utilities </h3></li>
				<ul>
					<li> <b>Frameworks: </b> Java Springboot </li>
					<li> <b>Management: </b> Maven, Git, Toggl, Slack, Trello </li>
					<li> <b>Web: </b> Rails, Bootstrap, AngularJS, JQuery, Laravel </li>
					<li> <b>Game Engines: </b> Unity </li>
				</ul>
			</ul>
		</div>
		<div class="col-lg-6">
			<ul>
				<li><h3> Programming Styles and Principals </h3></li>
				<ul>
					<li> Microservices </li>
					<li> Object Oriented Programming </li>
					<li> Concurrent Programming </li>
					<li> Web Development </li>
					<li> Agent Oriented Programming </li>
					<li> Android Mobile Development</li>
					<li> AI in games </li>
					<li> Games Development </li>
					<li> Virtual reality development </li>
				</ul>
				<li><h3> Programming Methodoligies </h3></li>
				<ul>
					<li> Scrum </li>
					<li> Agile </li>
				</ul>
			</ul>
		</div>
	</div>
</div>