<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="slide_title">Technical Skills</h1>
			<p class="readable_text">I have professional experience in skills <span id="pro_skill">highlighted blue</span> below</p>
		</div>
	</div>
	<br /><br /><br />
	<div class="row readable_text">
		<div class="col-lg-6">
			<ul>
				<li><h3> Programming Languages </h3></li>
				<ul>
					<li> <b>Software: </b> <span id="pro_skill">Java</span>, C++, C#, Python </li>
					<li> <b>Web: </b> HTML, CSS, JavaScript, PHP </li>
					<li> <b>DB: </b> <span id="pro_skill">Oracle SQL</span>, MySQL </li>
				</ul>
				<br />
				<li><h3> Programming Utilities </h3></li>
				<ul>
					<li> <b>Frameworks: </b> <span id="pro_skill">Java Springboot</span>, <span id="pro_skill">Apache Camel</span> </li>
					<li> <b>Management: </b> <span id="pro_skill">Maven</span>, <span id="pro_skill">Git</span>, <span id="pro_skill">Jira</span>, <span id="pro_skill">Confluence</span>, Toggl, Slack, Trello </li>
					<li> <b>Web: </b> Rails, Bootstrap, AngularJS, JQuery, Laravel </li>
					<li> <b>Game Engines: </b> Unity </li>
				</ul>
			</ul>
		</div>
		<div class="col-lg-6">
			<ul>
				<li><h3> Programming Styles and Principals </h3></li>
				<ul>
					<li> <span id="pro_skill">Microservices</span> </li>
					<li> <span id="pro_skill">Object Oriented Programming</span> </li>
					<li> <span id="pro_skill">Concurrent Programming</span> </li>
					<li> Web Development </li>
					<li> Agent Oriented Programming </li>
					<li> Android Mobile Development</li>
					<li> AI in games </li>
					<li> Games Development </li>
					<li> Virtual reality development </li>
				</ul>
				<li><h3> Programming Methodoligies </h3></li>
				<ul>
					<li> <span id="pro_skill">Scrum</span> </li>
					<li> <span id="pro_skill">Agile</span> </li>
				</ul>
			</ul>
		</div>
	</div>
</div>