<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="slide_title">Technical Skills</h1>
		</div>
	</div>
	<br /><br /><br />
	<div class="row readable_text">
		<div class="col-lg-6">
			<ul>
				<li><h3> Programming Languages </h3></li>
				<ul>
					<li> <b>Software: </b> C++, C#, Java, Python </li>
					<li> <b>Web: </b> HTML, MYSQL, CSS, JavaScript, PHP </li>
					
				</ul>
				<br />
				<li><h3> Programming Utilities </h3></li>
				<ul>
					<li> <b>Management: </b> Git(Command Line/GUI), Toggl, Slack, Trello </li>
					<li> <b>Web: </b> Bootstrap, AngularJS, JQuery, Laravel, Rails </li>
					<li> <b>IDE: </b> Microsoft Visual Studio, Eclipse, Android Studio,Xamarine Studio </li>
					<li> <b>Game Engines: </b> Unity, SDL2 C++ Framework </li>
				</ul>
			</ul>
		</div>
		<div class="col-lg-6">
			<ul>
				<li><h3> Programming Styles and Principals </h3></li>
				<ul>
					<li> Object Oriented Programming </li>
					<li> Web Development </li>
					<li> Concurrent Programming </li>
					<li> Agent Oriented Programming </li>
					<li> Android Mobile Development</li>
					<li> Games Development </li>
					<li> AI in games </li>
				</ul>
				<li><h3> Programming Methodoligies </h3></li>
				<ul>
					<li> Scrum </li>
					<li> Agile </li>
				</ul>
			</ul>
		</div>
	</div>
</div>
</div>