<div class="slide">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="slide_title"> Upcoming Features </h1>
				<br /><br /><br /><br />
				<ul class="features_text">
					<li> Add comments and users table to database demo - in progress </li>
					<li> Adjust title page responsiveness</li>
					<li> Overhall style (animations, fonts, background, structure)</li>
					<li> Change projects slide to a scrolling section</li>
					<li> Open images in window on same page</li>
					<li> Add youtube videos of projects running </li>
					<li> Add gifs of each project instad of thumbnails</li>
					<li> Add live demo of c++ text adventure (apparantly possible in rails, further research required)</li>
				</ul>
			</div>
		</div>
		<br /><br /><br />
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="back_button" id="back_title"> Back </h3>
			</div>
		</div>
	</div>
</div>
