<div class="slide">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="slide_title"> Upcoming Features </h1>
				<br /><br /><br /><br />
				<ul class="features_text">
					<li> Overhall projects slide into a scrolling section - <span style ="color: green;">in progress</span></li>
					<li> Add comments and users table to database demo </li>
					<li> Adjust title page responsiveness</li>
					<li> Overhall style (animations, fonts, background, structure)</li>
					<li> Add live demo of c++ text adventure (apparantly possible in rails, further research required)</li>
				</ul>
			</div>
		</div>
		<br /><br /><br />
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="back_button" id="back_title"> Back </h3>
			</div>
		</div>
	</div>
</div>
