<body> 
	<div id="fullpage">
		<div id="section1" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h1 >Michael Nader</h1>

						<h2>Software Engineer</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="section2" class="section">
			<div class="slide">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h1> Notable Projects </h1>
						</div>
					</div>

					<br /><br />

					<div class="row vertical-align">
						<div class="col-lg-4 text-right">
							<%= image_tag("home/bionic_placeholder", :width => 225, :class => "image")%>
						</div>
						<div class="col-lg-8 ">
							<div>
								<h2> Bionic Vision Simulator </h2>
							</div>
						</div>
					</div>

					<br /><br />

					<div class="row vertical-align">
						<div class="col-lg-4 text-right">
							<%= image_tag("home/bionic_placeholder", :width => 225, :class => "image")%>
						</div>
						<div class="col-lg-8">
							<div>
								<h2> Home Energy Trading System </h2>
							</div>
						</div>
					</div> 

					<br / ><br />

					<div class="row vertical-align">
						<div class="col-lg-4 text-right">
							<%= image_tag("home/bionic_placeholder", :width => 225, :class => "image")%>
						</div>
						<div class="col-lg-8">
							<div>
								<h2> Text Adventure Game </h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slide">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h3> Bionic Vision Simulator </h3>
							<p>
								I completed this as my final year project in which I was a member of a five-person team developing a bionic vision simulator using Unity and the Oculus Rift for Bionic Vision Australia. Our aim for this project was to create a highly modular virtual reality environment, which can simulate the phosphenes produced by a prosthetic implant, so researches can determine the best algorithm to produce these phosphenes. <br />

								Throughout the project I attended weekly stand-up meetings as well as weekly meetings with our client, in which we explained our progress and adjusted our scope accordingly. I worked according to my backlog, eventually completing several tasks that were not initially assigned to me. These tasks required an elevated level of communication and teamwork as they were often implemented within a script or a scene created by another member. <br />

								We were successful in our project and I achieved a high distinction. 
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="slide">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h3> Home Energy Trading System </h3>
							<p>
								I was a part of a two-person team developing a multi-intelligent agent system. Intelligent Agents
								are autonomous, social, reactive, and proactive. Therefore, they are commonly considered to be
								artificially intelligent. I developed the entire backend of the system in which a ‘Home’ Agent will
								dynamically calculate energy needs of ‘Appliance’ agents hourly. It then contacts three energy
								‘Supplier’ agents for a quote, and negotiates with each based on the home’s budget, eventually
								selecting the lowest available price. The complexity of this project derives from the fact that is
								entirely Agent Oriented. This was developed in Java using the JADE Agent Development
								Framework. <br />

								My teammate and I met weekly, discussing our progress and overall vision for the program.
								Ultimately, the project was a success and I achieved a distinction.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="slide">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h3> Text Adventure Game </h3>
							<p>
								This independent project which implements many core aspects of game development was built in
								c++ without that use of a game development library. It incorporates the component pattern for
								each of its entities, uses a game state machine, loads the entire world from a configuration file as
								well as each location into a graph data structure, has a built in messaging system and implements a
								robust command processing pattern. The game contains several locations, items, enemies and was
								completed using an object oriented style with a heavy emphasis on inheritance and polymorphism
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="section3" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h1>Technical Skills</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<ul>
							<li><h3> Programming Languages </h3></li>
							<ul>
								<li> <b>Software: </b> C++, C#, Java, Python </li>
								<li> <b>Web: </b> HTML, MYSQL, CSS, JavaScript, PHP </li>
								
							</ul>
							<li><h3> Programming Utilities </h3></li>
							<ul>
								<li> <b>Management: </b> Git(Command Line/GUI), Toggl, Slack, Trello </li>
								<li> <b>Web: </b> Bootstrap, AngularJS, JQuery, Laravel, Rails </li>
								<li> <b>IDE: </b> Microsoft Visual Studio, Eclipse, Android Studio, Xamarine Studio </li>
								<li> <b>Game Engines: </b> Unity, SDL2 C++ Framework </li>
							</ul>
						</ul>
					</div>

					<div class="col-lg-6">
						<ul>
							<li><h3> Programming Styles and Principals </h3></li>
							<ul>
								<li> Object Oriented Programming </li>
								<li> Web Development </li>
								<li> Concurrent Programming </li>
								<li> Agent Oriented Programming </li>
								<li> Android Mobile Development</li>
								<li> Games Development </li>
								<li> AI in games </li>

							</ul>
							<li><h3> Programming Methodoligies </h3></li>
							<ul>
								<li> Scrum </li>
								<li> Agile </li>
								<li> Waterfall </li>
							</ul>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>