// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@font-face{
	font-family: 'mosk';
	src: url('mosk/Mosk_Medium_500.ttf') format('truetype');
}
#section1 { 
  background-image: url(home/title_background.png);
  background-position: fixed;
}
#title_section{
	font-family: 'mosk';
	color: white;
}
#title_name{
	font-size: 100px;
}
#title_skill{
	font-size: 80px;
}
.vertical-align {
    display: flex;
    align-items: center;
}

.button{
	cursor:pointer;
}