// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@font-face{
	font-family: 'mosk';
	src: url('Mosk Bold 700.ttf') format('truetype');
}
@font-face{
	font-family: 'adam';
	src: url('Archive-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'nexa';
	src: url('NexaDemo-Bold.otf') format('truetype');
}

#section1 { 
  background-image: url(home/title_background.webp);
  background-position: fixed;
}
/*
#nav_bar{
	position: fixed;
	width: 35vw;
    height: 3.5vw;
    border-radius: 15px;
    top: 2vh;
    right: 0vw;
    background: rgba(209,11,11,0.7);
    z-index: 999;
}

#nav_links{
	position: relative;
	top: 7%;
	left: 2.6%;
	font-size: 2.2vw;
	font-family: 'adam';
	color: white;
} 
*/
#title_section{
	font-family: 'nexa';
	color: white;
}
#title_name{
	position: absolute;
	top: 20vh;
	left:0vw;
	font-size: 8vw;
}
#title_skill{
	position: absolute;
	top: 40vh;
	left:0vw;
	font-size: 4vw;
}
.notification{
	position: relative;
	top: 6.5%;
	text-align: center;
	font-size: 1.25vw;
}

/* old title style
#title_name_background{
	position: absolute;
	width: 55vw;
    height: 7.2vw;
    top: 30vh;
    left: 0vw;
    border-radius: 15px;
    background: rgba(32,55,196,0.85);
}
#title_skill_background{
	position: absolute;
	width: 40vw;
    height: 4.8vw;
    border-radius: 15px;
    top: 50vh;
    left: 0vw;
    background: rgba(42,114,245,0.85);
}
*/
#title_down{
	position: absolute;
	width: 5vw;
	left: 47.5vw;
	bottom: 3vh;
	cursor: pointer;
	z-index: 99;
}
#notification_background{
	position: absolute;
	width: 30vw;
    height: 6.8vw;
    border-radius: 15px;
    top: 65vh;
    left: 35vw;
    background: rgba(209,11,11,0.85);
}
#features{
	cursor: pointer;
	color: #110887;
}
.slide_title{
	text-align: center;
	color: white;
	font-family: 'adam';
	font-size: 3vw;
}
.features_text{
	color: white;
	font-size: 1.2vw;
}
.readable_text{
	color: white;
	font-size: 0.9vw;
}
.back_button{
	color: white;
	font-size: 1.5vw;
	font-family: 'adam';
	cursor: pointer;
}
.project_link{
	font-size: 1.75vw;
	color: white;
}
.project_image{
	border-radius: 5px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.button{
	cursor: pointer;
}
#fp-nav ul li a span{ 
	background-color: white !important;
}