// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea{
	vertical-align: top;
}
#error_title{
	color: red;
}
#error_msg{ /* fixes formatting in column */
	white-space: nowrap; 
	float:left;
}