<div class="slide">
	<div class="container">
		<%= yield %>
		<br /><br /><br />
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="back_button" id="project_back"> Back </h3>
			</div>
		</div>
	</div>
</div>